

.card__title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.card__description {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.card:hover .card__overlay {
  bottom: 0; /* sube desde abajo y cubre la imagen */
}

